
<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>プロフィール画像</th>
      <th>今日猫会員名</th>
      <th>紹介文</th>
      <th>フォロー数</th>
      <th>フォロワー数</th>
      <th colspan="5"></th>
    </tr>
  </thead>
    <tbody>
      <% customers.each do |customer| %>
        <tr>
          <td><%= link_to(customer_customer_path(customer.id)) do %>
                <%= image_tag customer.get_profile_image(100,100) %>
              <% end %>

            <td><%= customer.last_name %>様</td>

            <td><%= link_to customer.introduction ,customer_customer_path(customer.id), class: "customer_#{customer.id}" %></td>


            <td>
              <%= link_to customer_customer_followings_path(customer) do %>
                <%= customer.followings.count %>人
              <% end %>
            </td>

            <td>
              <%= link_to customer_customer_followers_path(customer) do %>
                <%= customer.followers.count %>人
              <% end %>
            </td>

            <td>
              <%= render "customer/relationships/btn", customer: customer, options: { class: "follow-link" } %>
            </td>

          </td>
        </tr>
      <% end %>
    </tbody>
</table>

