
<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>投稿写真</th>
      <th>タイトル</th>
      <th>投稿者</th>
      <th>投稿日時</th>
      <th>お気に入り数</th>
      <th>コメント</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <tbody>
      <% photos.each do |photo| %>
      <tr>
        <td><%= link_to(customer_photo_path(photo.id)) do %>
          <% if photo.image.attached? %>
          <%= image_tag photo.image, :size =>'200x200' %>
          <% end %>
      <% end %>

            <td>
              <%= link_to photo.title,customer_photo_path(photo.id), class: "photo_#{photo.id}" %>
            </td>

            <td><%= current_customer.last_name %>様</td>

            <td><%= photo.updated_at %></td>

            <td><%= render "favorites/btn", photo: photo, index: true %></td>

            <td>コメント数<%= photo.photo_comments.count %></td>

          </td>
        </tr>
      <% end %>
    </tbody>
</table>