
<h2><%= @customer.last_name%>様の会員情報</h2>

<table class='table'>
  <tr>
    <th>プロフィール画像</th>
    <th><%= image_tag @customer.get_profile_image(100,100) %></th>
  </tr>
  <tr>
	  <th>名前(姓)</th>
	  <th><%= @customer.last_name %></th>
  </tr>
  <tr>
	  <th>名前(名)</th>
	  <th><%= @customer.first_name %></th>
  </tr>
  <tr>
	  <th>紹介文</th>
	  <th><%= @customer.introduction %></th>
  </tr>
   <tr>
	  <th>フォロー</th>
      <th><%#= link_to follows_user_path(user) do %>
       <%#= user.followers.count %>
      <%# end %></th>
  </tr>
  <tr>
	  <th>フォロワー</th>
      <th><%#= link_to followers_user_path(user) do %>
        <%#= user.followeds.count %>
      <%# end %></th>
  </tr>
  </tr>
  </table>
  <div class='row'>
    <%= link_to edit_customer_customer_path(@customer), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
    <% end %>
  </div>

  <h2>猫写真投稿フォーム</h2>
  <%= form_with model: @photo, url: customer_photos_path do |f| %>

    <div class="form-group">
      <label for="title">タイトル</label>
      <%= f.text_field :title, class:'form-control photo_title' %>
    </div>

    <div class="form-group">
      <label for="image">写真</label>
      <%= f.file_field :image, class:'form-control photo_image' %>
    </div>

    <div class="form-group">
      <label for="cat_color">猫ちゃんの毛色</label>
      <%= f.text_field :cat_color, class:'form-control photo_cat_color' %>
    </div>

    <div class="form-group">
      <label for="photo_introduction">写真の説明文</label>
      <%= f.text_area :photo_introduction, class:'form-control photo_introduction' %>
    </div>

    <div class="form-group">
      <%= f.submit :'投稿する', class:'btn btn-danger' %>
    </div>
<% end %>