
<div class='col-md-8 offset-md-1'>
  <h1><i class="fa-solid fa-paw"></i>いいね一覧：<%= @photos.total_count %> 枚<i class="fa-solid fa-paw"></i></h1>
  <div class="row">
    <% if @photos.any? %>
      <% @photos.each do |photo| %>
        <div class="col-md-4">
          <%= link_to customer_photo_path(photo) do %>
            <div class="image-container move-left">
              <div class="image-wrapper">
                <%= image_tag photo.image, size: '270x270' %>
                <div class="like-icon">
                  <td id="favorite_btn_<%= photo.id %>">
                    <%= render "customer/favorites/btn", photo: photo, index: true %>
                  </td>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-5 mx-auto" style="width: 265px;">
      <div class="pagination">
        <%= paginate @photos %>
      </div>
    </div>
  <% else %>
    <p>いいねした写真はありません。</p>
  <% end %>
</div>
