<%# 会員側と管理者側で使用するフラッシュメッセージの記述 %>
<%= render "layouts/flash" %>

<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-4 px-5 px-sm-0 mx-auto">
    <%= render "customer/shared/error_messages", resource: @customer %>

    <%= form_with model: @customer, url: customer_session_path do |f| %>
      <h2><i class="fa-solid fa-paw"></i>ログインフォーム<i class="fa-solid fa-paw"></i></h2>

      <div class="field">
        <i class="fa-solid fa-key"></i><%= f.label :"メールアドレス" %><br />
        <%= f.email_field :email, class:'form-control email', autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <i class="fa-solid fa-key"></i><%= f.label :"パスワード" %><br />
        <%= f.password_field :password, class:'form-control password', autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :自動登録する %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-danger" %>
      </div>
    <% end %>

    <%= render "customer/shared/links" %>

    </div>
  </div>
</div>
