
<%= render "user/shared/error_messages", resource: @customer %>

  <h2>ログインフォーム</h2>

  <%= form_with model: @customer, url: user_registration_path do |f| %>


    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>
<% end %>

<%= render "user/shared/links" %>
<h4>既に登録済みの方</h4>
   <%= link_to "こちら", new_session_path(resource_name) %>からログインしてください。