<div class='container'>
<div class='row'>
<div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  <1>投稿写真編集フォーム</1>
    <div id="error_explanation">

    <%= form_with model:@photo, url: customer_photo_path, method: :patch do |f| %>
      <div class="form-group">
        <label for="title">タイトル</label>
        <%= f.text_field :title, class:'form-control photo_title' %>
      </div>

      <div class="form-group">
        <label for="image">写真</label>
        <%= f.file_field :image, class:'form-control-file photo_image', accept: 'image/*' %>
      </div>

      <div class="form-group">
        <label for="cat_color">猫の毛色</label>
        <%= f.text_field :cat_color, class:'form-control cat_color' %>
      </div>

      <div class="form-group">
        <label for="photo_introduction">写真の説明文</label>
        <%= f.text_area :photo_introduction, class:'form-control photo_introduction' %>
      </div>
      <div class="form-group">
        <%= f.submit :'更新する', class:'btn btn-success' %>
      </div>
    <% end %>
    		<%= link_to '詳細ページに戻る', customer_photo_path(@photo.id) %>
        </div>
      </div>
    </div>
  </div>