<h1><i class="fa-solid fa-paw"></i>猫ちゃんの詳細</h1>

  <table class="table table-hover table-inverse">
    <thead>
    <tr>
      <th></th>
      <th>投稿者</th>
      <th>投稿時間</th>
      <th>タイトル</th>
      <th>お気に入り数</th>
      <th>猫の毛色</th>
      <th>~説明文~</th>
      <th colspan="3"></th>
    </tr>
  </thead>
    <tbody>
      <tr>
      <td>
        <% if @photo.image.attached? %>
        <%= image_tag @photo.image, :size =>'600x500' %>
        <% end %>
      </td>
      <td>
        <%= @photo.customer.last_name %>様
      </td>

      <td><%= @photo.updated_at %></td>

      <td>
        <%= @photo.title %>
      </td>

      <td><%= render "favorites/btn", photo: @photo, index: false %></td>

      <td>
        <%= @photo.cat_color %>
      </td>

      <td>
        <%= @photo.photo_introduction %>
      </td>

        <% if @photo.customer == current_customer %>
      <tr>
        <td>
          <%= link_to '編集する', edit_customer_photo_path(@photo), class: "btn btn-sm btn-warning edit" %>
        </td>
      </tr>
        <% end %>
        <% if @photo.customer == current_customer %>
      <tr>
        <td>
          <%= link_to '削除する', customer_photo_path(@photo.id), method: :delete, class: 'btn btn-sm btn-dark destroy'%>
        </td>
      <tr>
        <% end %>
      </tr>
    </tbody>
  </table>