<!DOCTYPE html>
<html>
  <head>
    <title>今日のお猫様</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- 自身のKItCodeの記述-->
    <script src="https://kit.fontawesome.com/e0c0e0275e.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

    <h1>~今日のお猫様~<h1></br>
    <h2>猫好きさんのためのSNSサイト<h2></br>

    <%# あとでログイン後の表示をサインインとサインアップがなしになる条件分岐を記述する　%>
      <li>
        <%= link_to "TOPページ", user_root_path %>
      </li>
      <li>
        <%# あとでパスを修正する　%>
        <%= link_to "ネコ写真一覧", new_customer_registration_path %>
      </li>

      <li>
        <%# あとでパスを修正する　%>
        <%= link_to "猫会員一覧", new_customer_registration_path %>
      </li>

      <li>
        <%= link_to "マイページ", user_customers_mypage_path %>
      </li>
      <li>
        <%= link_to "新規登録", new_customer_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_customer_session_path %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
      </li>

  </header>
    </body>
    <%= yield %>
<foote>
  <ul>
    kyonoonekosama
 </ul>
</foote>
</html>
