
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <!-- CSSファイルの記述は今回なしにする -->
      <title>＊今日のお猫様＊</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
    <meta name="viewport" content= "width=device-width, initial-scale=1, maximum-scale=1">
    <!-- 自身のKItCodeの記述-->
    <script src="https://kit.fontawesome.com/e0c0e0275e.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm bg-warning">
      <nav class="navbar navbar-light navbar-expand-lg navbar-dark">
        <div class="container">
          <div class="header">
            <a class="navbar-brand" href="/" >
              <%= image_tag 'kyounekosama.jpg', :size => "200x200" %>
            </a>
            <h6><strong><i class="fa-solid fa-paw"></i>今日のお猫様<i class="fa-solid fa-paw"></i></strong></br>
              ~猫好きさんのためのSNSサイト<%= image_tag 'title.jpg', :size => "30x30" %>~</h6>
          </div>
        </div>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
      </nav>
        <%# 会員側ログイン後の記述 %>
        <div style="background-color: black">
          <% if customer_signed_in? %>
          <ul class="bg">
          <li class="nav-list-item">
            <%= link_to user_root_path, class: 'nav-link text-light' do %>
              TOPページ<i class="fa-solid fa-paw"></i>
          <% end %>
          </li>

          <li class="nav-list-item">
            <%= link_to "マイページ", mypage_customer_customers_path, class: 'nav-link text-light' %>
          </li>

          <li class="nav-list-item">
            <%= link_to "猫写真", customer_photos_path, class: 'nav-link text-light' %>
          </li>

          <li class="nav-list-item">
            <%= link_to "今日猫会員", customer_customers_path, class: 'nav-link text-light' %>
          </li>

          <li class="nav-list-item">
            <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-light' do %>
              <i class="fa-solid fa-right-from-bracket"></i>ログアウト
            <% end %>
          </li>
      <!-- 検索フォームの記述 -->
      <div class="row pb-2 mr-2">
        <div class="col-12" style="text-align: right;">
        <%= render "customer/searches/form" %>
        </div>
      </div>

      </ul>
    <%# 会員側ログイン前の場合は、管理者側が表示する %>
    <% elsif admin_signed_in? %>
      <ul>
        <li class="nav-list-item">
          <%= link_to admin_path, class: 'nav-link text-light' do %>
            管理者TOP<i class="fa-solid fa-gear"></i>
          <% end %>
        </li>

        <li class="nav-list-item">
          <%= link_to "管理者マイページ", admin_mypage_path, class: 'nav-link text-light' %>
        </li>

        <li class="nav-list-item">
          <%= link_to "登録済み会員情報一覧", admin_customers_path, class: 'nav-link text-light' %>
        </li>

        <li class="nav-list-item">
          <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do %>
            <i class="fa-solid fa-right-from-bracket"></i>ログアウト
          <% end %>
        </li>

      </ul>
      <!-- 会員・管理側でもログインしていない場合(urlで判定する)-->
          <% else %>
            <% if request.path.starts_with?('/admin') %>
            <ul>
              <li class="nav-list-item">
                <%= link_to admin_path, class: 'nav-link text-light' do %>
                  管理者TOPページ<i class="fa-solid fa-gear"></i>
                <% end %>
              </li>

              <li class="nav-list-item">
                <%= link_to "ログイン", new_admin_session_path, class: 'nav-link text-light' %>
              </li>

              <li class="nav-list-item">
                <%= link_to "新規登録", new_admin_registration_path, class: 'nav-link text-light' %>
              </li>
            </ul>

            <% else %>
          <ul>
              <li class="nav-list-item">
                <%= link_to user_root_path, class: 'nav-link text-light' do %>
                  TOPページ<i class="fa-solid fa-paw"></i>
                <% end %>
              </li>

              <li class="nav-list-item">
                <%= link_to "ログイン", new_customer_session_path, class: 'nav-link text-light' %>
              </li>
              <li class="nav-list-item">
                <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-light' %>
              </li>

             <!-- 検索フォームの記述 -->
            <div class="row pb-2 mr-2">
              <div class="col-12" style="text-align: right;">
                  <%= render "customer/searches/form" %>
              </div>
            </div>
          </ul>
            <% end %>
          <% end %>
    </header>
  </body>

    <main class="mb-auto">
      <p id="notice"><%= notice %></p>
        <div class="d-flex justify-content-center mb-2">
        </div>
      </div>
    </div>
    <%= yield %>
    </main>
  </div>
    <!-- フッターの記述 -->
  <foote class="bg-warning text-white pt-5 pb-4">

    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-12">
          <div class="text-white mt-2 mb-3">
    <ul class="p-0 list-unstyled">
      <li class="text-white-100 text-center">
          © kyonoonekosama.</p>
      </li>
    </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
